li{
    max-width: 400px;
    text-align: center;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: white;
    word-wrap: break-word;
    padding: 10px;
}
li .productImg{
    max-width: 400px;
    height: 503px;
}
li .productImg img{
    width: 250px;
    height: 100%;
    object-fit: contain;
}
li button{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
h2{
    margin: 10px 0px;
}
h2 span{
    color: purple;
}

@media (max-width: 410px){
    li{
        max-width: 320px;
    }
}