ul{
    list-style: none;
    max-width: 1700px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.705);
    border-radius: 10px;
}
h1{
    width: 100%;
    text-align: center;
    background-color: gray;
    margin-bottom: 10px;
}